.footer_a {
    width: 100%;
    background-image: url(assets/img/footer-background-color.jpg);
    background-size: 100% 100%;
    li{
        list-style: none;
    }
    button {
        width: 180px;
        background-color: #7abc64;
        color: white;
        border-radius: 25px;
    }
}

.footer_b {
    background-color: black;
    p{
        font-size: 13px;
        span {
            color: #7abc64;
        }
    }
}